body{
    background-color: rgb(214, 196, 185);
}
header{
    background-color: rgb(212, 163, 133);
    border: 2px solid rgb(0, 0, 0);
    padding-left: 25px;
    text-align: center;
}
div{
    border: 1px solid rgb(0, 0, 0);
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 15px;
    margin-top: 15px;
}
footer{
    background-color: rgb(212, 163, 133);
    border: 2px solid rgb(0, 0, 0);
    padding-left: 25px;
    padding-bottom: 20px;
    margin-top: 15px;
    text-align: center;
}
.disp{
    display: flex;
}